@import "./src/assets/ui";

.loginUp {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;

  .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginImg {
      object-fit: cover;
      background-size: 40px;
      width: 100%;
      float: start;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
    }

    .lgBlur {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(15px);
      border-radius: 10px;
      width: 45%;
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 30px;
      right: 30px;
    }

  }

  .right {
    width: 50%;
    .container{
      .col-md-10 {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 5% auto;

        .loginLogo {
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .loginTitle {
          font-weight: 700;
          font-size: 25px;
          line-height: 29px;
          color: $colorBlue;
          margin-top: 30px;
          letter-spacing: 0.02em;
        }
        .label{
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          letter-spacing: 0.02em;
          color: #424242;
          margin-bottom: 10px;
        }
        .InputName{
          width: 550px;
          height: 50px;
          padding: 0 10px;
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.1);
          border-radius: 8px;
          border: none;
          &:active{
            border: 1px solid $colorBlue;

          }
          &:hover{
            border: 1px solid $colorBlue;
          }
        }
        .InputInfo{
          width: 260px;
          height: 50px;
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.1);
          border-radius: 8px;
          border: none;
          padding: 0 10px;
          &:last-child{
            margin-right: 12px;
          }
          &:nth-child(2){
            margin-left: 12px;
          }

          &:active{
            border: 1px solid $colorBlue;

          }
          &:hover{
            border: 1px solid $colorBlue;
          }
        }
        /* From uiverse.io by @namecho */
        .switch {
          --button-width: 47px;
          --button-height: 24px;
          --toggle-diameter: 1.5em;
          --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
          --toggle-shadow-offset: 10px;
          --toggle-wider: 3em;
          --color-grey: #cccccc;
          --color-green: #4296f4;
        }

        .slider {
          display: inline-block;
          width: var(--button-width);
          height: var(--button-height);
          background-color: var(--color-grey);
          border-radius: calc(var(--button-height) / 2);
          position: relative;
          transition: 0.3s all ease-in-out;
        }

        .slider::after {
          content: "";
          display: inline-block;
          width: var(--toggle-diameter);
          height: var(--toggle-diameter);
          background-color: #fff;
          border-radius: calc(var(--toggle-diameter) / 2);
          position: absolute;
          top: var(--button-toggle-offset);
          transform: translateX(var(--button-toggle-offset));
          box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
          transition: 0.2s all ease-in-out;
        }

        .switch input[type="checkbox"]:checked + .slider {
          background-color: var(--color-green);
        }

        .switch input[type="checkbox"]:checked + .slider::after {
          transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
          box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
        }

        .switch input[type="checkbox"] {
          display: none;
        }

        .switch input[type="checkbox"]:active + .slider::after {
          width: var(--toggle-wider);
        }

        .switch input[type="checkbox"]:checked:active + .slider::after {
          transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
        }
        .radioText{
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          letter-spacing: 0.02em;
          text-decoration-line: underline;
          margin-left: 10px;
          color: #435D8F;

        }
        .save{
          width: 550px;
          height: 50px;
          background: #2B63C0;
          box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.15);
          border-radius: 8px;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.02em;
          margin-top: 15px;
          color: #FFFFFF;
          border: none;

        }
      }
    }
  }



}
