@import "./src/assets/ui";

.loginUp {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;

  .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginImg {
      object-fit: cover;
      background-size: 40px;
      width: 100%;
      float: start;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
    }

    .lgBlur {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(3px);
      border-radius: 10px;
      width: 45%;
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 30px;
      right: 30px;
    }

  }

  .right {
    width: 50%;
    .container{
      .col-md-10 {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 5% auto;

        .loginLogo {
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .loginTitle {
          font-weight: 700;
          font-size: 25px;
          line-height: 29px;
          color: $colorBlue;
          margin-top: 30px;
          letter-spacing: 0.02em;
        }
        .label{
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          letter-spacing: 0.02em;
          color: #424242;
          margin-bottom: 10px;
        }
        .InputName{
          width: 550px;
          height: 55px;
          //padding: 0 10px;
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.1);
          border-radius: 8px;
          border: none;
        }
        .InputInfo{
          width: 260px;
          height: 50px;
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.1);
          border-radius: 8px;
          border: none;
          padding: 0 10px;
          &:last-child{
            margin-right: 12px;
          }
          &:nth-child(2){
            margin-left: 12px;
          }

          &:active{
            border: 1px solid $colorBlue;

          }
          &:hover{
            border: 1px solid $colorBlue;
          }
        }
        .radioText{
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          letter-spacing: 0.02em;
          text-decoration-line: underline;
          margin-left: 10px;
          color: #435D8F;

        }
        .save{
          width: 550px;
          height: 50px;
          background: #2B63C0;
          box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.15);
          border-radius: 8px;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.02em;
          margin-top: 10%;
          color: #FFFFFF;
          border: none;

        }
        .Reset{
          width: 88%;
          margin-top: 20%;
          font-size: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //justify-content: space-around;
        }

      }
    }
  }



}
