@import "./src/assets/ui";

.loginIn{
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  .left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
      .loginImg{
        object-fit: cover;
        background-size: 40px ;
        width: 100%;
        float: start;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
      }
    .lgBlur{
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(3px);
      border-radius: 10px;
      width: 45%;
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 30px;
      right: 30px;
    }

  }
  .right{
    width: 50%;

    .container{
      .col-md-10{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 7% auto;
        .loginLogo{
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .loginTitle{
          font-weight: 700;
          font-size: 25px;
          line-height: 29px;
          color: $colorBlue;
          margin-top: 30px;
          letter-spacing: 0.02em;
        }
        .label{
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          justify-content: left;
          display: flex;
          letter-spacing: 0.02em;
          color: #424242;
          margin-bottom: 10px;
        }
        .numberPhone{
          width: 100%;
          height: 60px;
          background: #FFFFFF;
          //box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.1);
          //border-radius: 8px;
          border: 0;
          &:focus{
            border: none;
          }
        }
        .Infopass{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5%;
          gap: 20px;
          width: 90%;
          //padding-left: 35px;
          //padding: 0 30px;
        }
        .line{
          width: 100%;
        }
        .lines{
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.02em;
          color: $colorBlue;
          margin: 0 15px;
        }
        .social{
          width: 500px;
          height: 60px;
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          border: none;
          margin-top: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.02em;
          color: #424242;



          .ImgGoogle{
            width: 24px;
            height: 24px;
            margin: 0 10px;
          }
          &:active{
            color: $colorBlue;
          }
        }
        .sends{
          width: 90%;
          height: 60px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          border: none;
          margin-top: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.02em;
          color: white;
          background-color: $colorBlue;
        }
      }
    }
  }

}