@import "../../assets/ui";

.file{
  width: 309px;
  height: 90px;
  //margin-top: 30px;
  margin-right: 40px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px dashed #828282;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

}
.colms{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  overflow: hidden;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

  .image-item{
    margin:0 20px 10px;
    position:relative;
    .image-item__btn-wrapper{
      position: absolute;
      top:-20px;
      right:-20px;
      .DeleteButton{
        width:50px;
        height:50px;
        border-radius:50%;

        .delete-Icon{
          color:#FE346E;
          //width:50%;
        }
      }
    }
  }
}
.upload__image-wrapper{
  display: flex;
  width: 309px;
}