.personal-info {
  flex-basis: 50%;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  & .personal-info__title-wrapper {
    margin-bottom: 4px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  & .personal-info__title {
    margin: 0;
    padding: 0; 
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2b63c0;
  }

  & .personal-info__button {
    width: 27px;
    height: 6px;
    display: inline-block;
    background: #2b63c0;
    border-radius: 5px;
  }

  & .personal-info__drop-down {
    width: 100%;
    display: none;
    padding: 20px;
    padding-top: 0;
  }

  & .personal-info__name {
    margin: 0;
    padding: 0;
  }

  & .personal-info__name-text {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }

  & .drop-up {
    display: inline-block;
  }

  & .personal-info__user {
    display: flex;
    align-items: center;
    column-gap: 15px;

    &-wrapper {
      width: 100%;
    }
  }

  & .personal-info__gender {
    margin: 24px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2b63c0;
  }

  .personal-info__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  & .personal-info__text {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
}
