@import "./src/assets/ui";


.allInformation{
display: flex;

  .profile-overview__page {
    max-width: 100%;
    min-width: calc(100% - 256px);
    width: calc(100% - 256px);


    .ant-layout-header {
      height: inherit;
      padding: 0;
      background: inherit;
      background: #ffffff;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
    }
  }
  .mines{
    border: 2px solid $colorBlue;
    padding: 1px 15px;
    background: $colorBlue;
    border-radius: 10px;
  }
  .passSub{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
      color: $colorBlue;
  }
}