@import "../../assets/ui";

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Profile {
  display: flex;
}
.Page1 {
  width: calc(100% - 60px);
  height: auto;
  margin: 0 30px 0 30px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  position: relative;

}

.css-2royc9 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(calc(100% + 24px));
}

.page1__form {
  padding: 0 30px;
  margin-bottom: 50px;
  //padding: 24px 28px 128px 24px;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 34px;
}

.page1__label {
  width: 480px;
  max-width: 100%;
  min-width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333 !important;
}
.PhoneInputInput,
.page1__input {
  width: 100%;
  height: 50px;
  padding: 12px;
  background: #ffffff;
  border: 0.5px solid rgba(173, 173, 173, 0.8);
  border-radius: 8px;
  cursor: pointer;


  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
  }
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  height: 50px;
}

.page1__gender {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row !important;
  column-gap: 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: black;
  .women:hover,
  .womenInput:hover{
    cursor: pointer;
    color: #2B63C0;

  }
  .women:focus-within,
  .womenInput:focus-within {
    background: hsla(0, 0%, 80%, .14);
    color: #2B63C0;
  }
}

.email__label {
  margin-top: 34px;
}

.page1__form-right {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.page1__nationality {
  padding: 12px;
  max-width: 520px;
  min-width: 520px;
  width: 520px;
  height: 50px;

  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    height: 50px;
  }
  //background: #ffffff !important;
  //border: 0.5px solid rgba(173, 173, 173, 0.8) !important;
  //border-radius: 8px !important;



  & .ant-select-selection-item {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px !important;
    color: #8c8c8c;
  }
}

.page1__nationality-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.page1__nationality-title {
  font-style: normal;
  margin-top: -6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.profile__page {
  max-width: 100%;
  min-width: calc(100% - 256px);
  width: calc(100% - 256px);

  .ant-layout-header {
    height: inherit;
    padding: 0;
    background: inherit;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  }
}

.profile__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 32px;
}
.NextPrev {
  margin: 24px 0 0 auto;
  display: flex;
  width: 398px;
  justify-content: right;
  //margin: 0 20px  auto;
  //margin: 44% 0 0 70% ;
  .button {
    width: 191px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    &:hover{
      color: white;
    }
    //box-shadow: 0 5px rgba(0, 0, 0, 0.25);
  }

  .icones {
    margin-right: 15.67px;
    display: flex;
    align-items: center;
  }
}