@import "../../assets/ui";

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Profile {
  display: flex;
}

.profile__page {
  max-width: 100%;
  min-width: calc(100% - 256px);
  width: calc(100% - 256px);

  .ant-layout-header {
    height: inherit;
    padding: 0;
    background: inherit;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  }
}

.profile__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 32px;
}
.NextPrev {
  margin: 24px 0 0 auto;
  display: flex;
  width: 398px;
  justify-content: right;
  //margin: 0 20px  auto;
  //margin: 44% 0 0 70% ;
  .button {
    width: 191px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    &:hover{
      color: white;
    }
    //box-shadow: 0 5px rgba(0, 0, 0, 0.25);
  }

  .icones {
    margin-right: 15.67px;
    display: flex;
    align-items: center;
  }
}