.slayder {
  position: relative;
  //overflow: hidden;

  .caption {
    width: 20px !important;
  }

  .css-ascpo7-MuiStepLabel-root {
    display: flex !important;
    flex-direction: column;
  }

  .NextPrev {
    //margin: 24px 30px 30px auto;
    display: flex;
    width: 398px;
    justify-content: right;
    position: absolute;
    top: 29.5rem;
    right: 0;
    //margin: 44% 0 0 70% ;
    .button {
      width: 191px;
      height: 48px;
      font-size: 16px;
      line-height: 24px;
      border-radius: 10px;
      //box-shadow: 0 5px rgba(0, 0, 0, 0.25);
    }

    .icones {
      margin-right: 15.67px;
      display: flex;
      align-items: center;
    }
  }

  .MuiStepLabel-label {
    //font-weight: 500;
    font-size: 14px;
    padding: 0 10%;
    //line-height: 23px;

    color: #2B63C0;
  }

  .MuiStepper-root {
    //background: #2B63C0;
    //border-radius: 5px;
  }
}