.button{
  width:191px;
  height:48px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  //box-shadow: 0 5px rgba(0, 0, 0, 0.25);
}

.icon{
  margin-right: 15.67px;
  display: flex;
  align-items: center;
}