@import "./src/assets/ui";

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-menu-root.ant-menu-inline{
  background:  #0C2556!important;
}
.ant-layout-sider-children{
  background:  #0C2556!important;

}
.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background:  #0C2556!important;

}
.ant-menu.ant-menu-dark .ant-menu-item-active{
  background: #243B67!important;
}
.ant-layout-sider-trigger{
  display: none;
}
.site-layout{
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lefts{
      display: flex;
      flex-direction: column;
      align-items: center;

      .name{
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        margin-left: -2rem;

      }
      .jobTitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .right{
      display: flex;
      align-items: center;
      margin: 0 5px ;
      .flagButton{
        display: flex;
        align-items: center;
        border: none;
        background: inherit;
        color: $colorBlue;
        .iconFlag{
          width: 20px;
          height: 20px;
          object-fit: fill;
          margin: 0 10px;
        }
      }
      .icon{
        margin-left: 10px;
        cursor: pointer;
        color: $colorBlue;
      }
    }
  }
}

.layoutLogo{
  width: 38px;
  height: 38px;
}
.layoutText{
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  margin-left: 6px;
  //line-height: 150%;
  color: #fff;
}
.info{
  margin: 16px 0 !important;
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  .left{
    display: flex!important;
    align-items: center;
    .icon{
      width: 18px;
    }
    //width: 100px;
    .pro{
      font-weight: 700;
      font-size: 26px;
      line-height: 38px;
      display: flex;
      margin-left: 5px;
      align-items: center;
      letter-spacing: 0.02em;

    }

  }
  .rights{
    //width: 100px;
    display: flex;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    .icon{
      color: $colorBlue;
      margin-right: 10px;
    }


  }
}
  .form-control{
    border: none!important;
    display: inline-block;
    .cityLabel{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    .city{
      background: #FFFFFF;
      border: 0.5px solid rgba(173, 173, 173, 0.8);
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 0 15px;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      height: 50px;
    }
  }
.button{
  width:191px;
  height:48px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  //box-shadow: 0 5px rgba(0, 0, 0, 0.25);
}

.icones{
  margin-right: 15.67px;
  display: flex;
  align-items: center;
}
.radioText{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  margin-left: 10px;
  color: #435D8F;

}
.passwordError{
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  cursor: pointer;
  color: #FE346E;

}
.NextPrev{
  margin: 24px 30px 30px auto;
  display: flex;
  width: 398px;
  justify-content: space-between;
}
