//@import "./src/assets/ui";
@import "../../assets/ui";
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Profile {
  display: flex;
}

.profile__page {
  max-width: 100%;
  min-width: calc(100% - 256px);
  width: calc(100% - 256px);

  .ant-layout-header {
    height: inherit;
    padding: 0;
    background: inherit;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  }
}

.profile__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 32px;
}


.forms{
  width: calc(100% - 60px);
  margin: 0 30px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 24px;
  .workInfo{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    .workAbout{
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
    }
  }
  .form{
    display: flex;
    justify-content: space-between;
    //gap: 32px;
    .left-form,
    .right-form{
      width: 48%;
    }
    label{
      display: block;
      //font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      margin-bottom: 8px;
    }
    .titles{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    select{
      //width: 500px;
      background: #FFFFFF;
      border: 0.5px solid rgba(173, 173, 173, 0.8);
      border-radius: 8px;
      padding: 12px;
      margin-bottom: 24px;
    }
    .workEnd{
      margin-top: 2%;
    }
    input{
      width: 500px;

      background: #FFFFFF;
      //border: 0.5px solid rgba(173, 173, 173, 0.8);
      border-radius: 8px;
      //padding: 9px;
      //margin-bottom: 24px;
    }
  }


  .added{
    height: 48px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    gap: 20px 10px;
    margin-top: 5%;
  }

}
.next-page{
  display: flex;
  justify-content: end;
  margin:24px 0;

  button{
    padding: 12px 30px;
    width: 190px;
    color: white;
    border: 0;



  }
  .back-btn{


  }
  .next-btn{
    margin-left: 16px;
    margin-right: 30px;

  }
}