@import "../../assets/ui";

.admin {
  display: flex;
}

.basePart {
  max-width: 100%;
  min-width: calc(100% - 256px);
  width: calc(100% - 256px);

  .ant-layout-header {
    height: inherit;
    padding: 0;
    background: inherit;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  }

  .selection {
    margin: 24px 30px;

    .stat {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #333333;
      margin-bottom: 14px;
    }

    .filters {
      display: flex;

      .formInfo {
        width: 580px;
        height: 50px;

        &:nth-child(2) {
          margin-left: 24px;
        }
      }
    }

    .listOfOrganize {
      margin-top: 24px;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);

      .boxNav{
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: #2B63C0;
          margin-bottom: 24px;
        }
        .btn{
          width: 27px;
          height: 6px;
          border-radius: 5px;
        }
      }

      .pdf-part {
        background: #FFFFFF;
        width: calc(100%);

        ::-webkit-scrollbar {
          width: 10px;
        }
      ;

        ::-webkit-scrollbar-track {
          background: white;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        }

        ::-webkit-scrollbar-thumb {
          background: #2B63C0;
          border-radius: 5px;
          border: 3px solid #2B63C0;
        }

        .pdf {
          width: 97%;
          background: white;
          height: 400px;
          overflow-y: auto;
          padding-bottom: 51px;

          h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            padding-left: 12px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0;
          }

          .pdf-item {
            width: 100%;
            overflow-y: auto;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .pdf-own {
              width: 342px;
              height: 135px;
              display: flex;
              padding: 17px;
              margin: 2px 17px 17px 2px;
              box-sizing: border-box;
              background: #FFFFFF;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
              border-radius: 10px;

              .EduPicture {
                width: 82px;
                height: 82px;
                overflow: hidden;
                margin-right: 17px;

                img {
                  width: 100%;
                }
              }

              .EduInfo {
                h5 {
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 24px;
                }

                h6 {
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 24px;
                  color: #2B63C0;
                }
              }
            }
          }
        }
      }
    }

    .InfoOfTeacher {
      margin-top: 24px;
      box-sizing: border-box;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
      padding: 30px;

      .boxNav{
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: #2B63C0;
          margin-bottom: 24px;
        }
        .btn{
          width: 27px;
          height: 6px;
          border-radius: 5px;
        }
      }

      .displayFlex {
        display: flex;

        .leftSide {
          width: 425px;
          margin-right: 32px;

          .firstInfo {
            display: flex;
            margin-bottom: 24px;

            .TeacherImage {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 15px;

              img {
                width: 100%;
              }
            }

            .FullName {
              h4{
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                margin-bottom: 8px;
              }
              .BoxForInfo{
                width: 330px;
                height: 48px;
                background: #FFFFFF;
                border: 0.5px solid rgba(173, 173, 173, 0.8);
                border-radius: 8px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 12px;
                gap: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #8C8C8C;
              }
            }
          }
          .InfoTitle{
            margin: 24px 0 8px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
          }
          .QualInfo{
            padding: 12px;
            box-sizing: border-box;
            width: 425px;
            height: 136px;
            background: #FFFFFF;
            border: 0.5px solid rgba(173, 173, 173, 0.8);
            border-radius: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8C8C8C;
          }
          .DataQual{
            padding: 12px;
            box-sizing: border-box;
            width: 425px;
            height: 48px;
            background: #FFFFFF;
            border: 0.5px solid rgba(173, 173, 173, 0.8);
            border-radius: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8C8C8C;
          }
        }
        .rightSide{
          width: 425px;
          .labelSpec{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            margin-bottom: 8px;
          }
          .editSpec{
            width: 425px;
            height: 48px;
            padding: 12px;
            box-sizing: border-box;
            background: #FFFFFF;
            border: 0.5px solid rgba(173, 173, 173, 0.8);
            border-radius: 8px;
            margin-bottom: 85px;
          }
          .DirectForm{
            width: 425px;
            height: 48px;
            background: #FFFFFF;
            border: 0.5px solid rgba(173, 173, 173, 0.8);
            border-radius: 8px;
            margin-bottom: 112px;
            &:nth-child(2){
              margin-bottom: 56px;
            }
          }
        }
      }
    }
  }
}