@import "../../assets/ui";

.direction {
  display: flex;
}

.basePart {
  max-width: 100%;
  min-width: calc(100% - 256px);
  width: calc(100% - 256px);

  .ant-layout-header {
    height: inherit;
    padding: 0;
    background: inherit;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  }

  h1 {
    margin: 24px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }

  .Box{
    margin: 0 24px 0 20px;

    .destination{
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 20px 30px 26px 20px;
      box-sizing: border-box;
      margin-bottom: 24px;

      &-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #2B63C0;
        margin-bottom: 24px;
      }

      .dest-direct{
        width: 100%;
        margin-left: 10px;
        padding: 20px 20px 26px;
        background: #FFFFFF;
        border: 1px solid #2B63C0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;

        h5{
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.8);
          margin-bottom: 50px;
        }

        p{
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #2B63C0;
          margin: 0;
        }
      }

      .directions{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .directItem{
          width: 528px;
          height: 242px;
          margin: 0 24px 24px 10px;
          padding: 20px 20px 26px;
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h5{
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.8);
          }

          p{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #2B63C0;
            margin: 0;
          }
        }
      }
    }

    .DownloadFile{
      margin-top: 40px;
      padding-bottom: 27px;
      display: flex;
      justify-content: right;
      cursor: pointer;
      .downloadItem{
        width: 120px;
        margin-left: 54.17px;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #303030;
      }
    }

    .listOfOrganize {
      margin-top: 24px;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);

      .boxNav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: #2B63C0;
          margin-bottom: 24px;
        }

        .Cancel {
          width: 27px;
          height: 6px;
          background: #2B63C0;
          border-radius: 5px;
          margin-right: 30px;
        }
      }

      .pdf-part {
        background: #FFFFFF;
        width: calc(100%);

        ::-webkit-scrollbar {
          width: 10px;
        }
      ;

        ::-webkit-scrollbar-track {
          background: white;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        }

        ::-webkit-scrollbar-thumb {
          background: #2B63C0;
          border-radius: 5px;
          border: 3px solid #2B63C0;
        }

        .pdf {
          width: 97%;
          background: white;
          height: 400px;
          overflow-y: auto;
          padding-bottom: 51px;

          h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            padding-left: 12px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0;
          }

          .pdf-item {
            width: 100%;
            overflow-y: auto;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .pdf-own {
              width: 342px;
              height: 135px;
              display: flex;
              padding: 17px;
              margin: 2px 17px 17px 2px;
              box-sizing: border-box;
              background: #FFFFFF;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
              border-radius: 10px;

              .EduPicture {
                width: 82px;
                height: 82px;
                overflow: hidden;
                margin-right: 17px;

                img {
                  width: 100%;
                }
              }

              .EduInfo {
                h5 {
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 24px;
                }

                h6 {
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 24px;
                  color: #2B63C0;
                }
              }
            }
          }
        }
      }
    }
    .InfoOfTeacher {
      margin-top: 24px;
      box-sizing: border-box;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
      padding: 0 30px;

      .boxNav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: #2B63C0;
          margin-bottom: 24px;
        }
        .Cancel {
          width: 27px;
          height: 6px;
          background: #2B63C0;
          border-radius: 5px;
          margin-right: 30px;
        }
      }

      .displayFlex {
        display: flex;

        .leftSide {
          width: 425px;
          margin-right: 32px;

          .firstInfo {
            display: flex;
            margin-bottom: 24px;

            .TeacherImage {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 15px;

              img {
                width: 100%;
              }
            }

            .FullName {
              h4{
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                margin-bottom: 8px;
              }
              .BoxForInfo{
                width: 330px;
                height: 48px;
                background: #FFFFFF;
                border: 0.5px solid rgba(173, 173, 173, 0.8);
                border-radius: 8px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 12px;
                gap: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #8C8C8C;
              }
            }
          }
          .InfoTitle{
            margin: 24px 0 8px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
          }
          .QualInfo{
            padding: 12px;
            box-sizing: border-box;
            width: 425px;
            height: 136px;
            background: #FFFFFF;
            border: 0.5px solid rgba(173, 173, 173, 0.8);
            border-radius: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8C8C8C;
          }
          .DataQual{
            padding: 12px;
            box-sizing: border-box;
            width: 425px;
            height: 48px;
            background: #FFFFFF;
            border: 0.5px solid rgba(173, 173, 173, 0.8);
            border-radius: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8C8C8C;
          }
        }
        .rightSide{
          width: 425px;
          .labelSpec{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            margin-bottom: 8px;
            &:nth-child(3){
              //margin-top: 19px;
            }
          }
          .editSpec{
            width: 425px;
            height: 48px;
            padding: 12px;
            box-sizing: border-box;
            background: #FFFFFF;
            border: 0.5px solid rgba(173, 173, 173, 0.8);
            border-radius: 8px;
            margin-bottom: 85px;
          }
          .DirectForm{
            width: 425px;
            height: 48px;
            background: #FFFFFF;
            border: 0.5px solid rgba(173, 173, 173, 0.8);
            border-radius: 8px;
            margin-bottom: 5px;
            &:nth-child(2){
              margin-bottom: 56px;
            }
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8C8C8C;
            padding: 12px;
          }
          .Variants{
            width: 425px;
            display: flex;
            margin-bottom: 19px;

            .directVariant{
              width: 139px;
              .directType{
                width: 100%;
                height: 30px;
                background: #EAF0F9;
                border-radius: 8px;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #2B63C0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 14px;
                cursor: pointer;
              }
              &:nth-child(2){
                width: 215px;
                margin-left: 24px;
              }
            }
          }
        }
      }
    }
  }
}