@import "./src/assets/ui";

.qualification {
  display: flex;

  .forms {
    width: calc(100% - 60px);
    margin: 0 30px;
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 24px;

    .title {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      padding: 20px;
    }

    .form-control {
      border: none;
      display: flex;
      justify-content: space-between;

      .form {
        display: flex;
        width: 100%;

        &:nth-child(2) {
          margin-left: 50px;
        }

        flex-direction: column;

        .qualificationLabel {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;

        }

        .qualificationInput {
          width: 100%;
          padding: 0 10px;
          height: 45px;
          background: #FFFFFF;
          border: 0.5px solid rgba(173, 173, 173, 0.8);
          border-radius: 8px;
        }
      }


    }
    .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
      height: 50px;
    }

    .added {
      height: 48px;
      padding: 0 25px;
      display: flex;
      align-items: center;
      gap: 20px 10px;
      margin:  10px 10px;

    }
  }

  .next-page {
    display: flex;
    justify-content: end;
    margin: 24px 0;

    button {
      padding: 12px 30px;
      width: 190px;
      color: white;
      border: 0;


    }

    .back-btn {


    }

    .next-btn {
      margin-left: 16px;
      margin-right: 30px;

    }
  }
  .startDate {
    //width: 538px;
    margin-left: 13px;
    //margin-top: 10px;

  }
  .schedule{
    width: 100% !important;
  }
}