@import "../../assets/ui";

.portfolio {
  display: flex;
}
  .basePart{
    max-width: 100%;
    min-width: calc(100% - 256px);
    width: calc(100% - 256px);

    .ant-layout-header {
      height: inherit;
      padding: 0;
      background: inherit;
      background: #ffffff;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
    }
  }