.profile__sider {
  width: 256px !important;
  max-width: 256px !important;
  min-width: 256px !important;

  .ant-layout-sider-children {
    height: 100vh;
  }
}

.profile-icon__wrapper {
  padding: 17px;
  background-color: #ffffff;
  border-radius: 50%;
}

.profile-icon {
  border-radius: 50%;
  width: 60px!important;
  height: 60px;

}

.profile__title {
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.userImg{
}

