@import "../../assets/ui";

.education {
  display: flex;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 48px;
}

.eduPage {
  max-width: 100%;
  min-width: calc(100% - 256px);
  width: calc(100% - 256px);

  .ant-layout-header {
    height: inherit;
    padding: 0;
    background: inherit;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  }

  .label {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #333333;
  }

  .formData {
    width: 475px;
    height: 48px;
    //border: 0.5px rgba(173, 173, 173, 0.8) solid;
    //border-radius: 8px;
    gap: 10px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .formBox {
    width: calc(100% - 60px);
    margin: 0 30px;

    padding: 24px 28px 6px 24px;
    box-sizing: border-box;
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;

    .eduInfo {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .infoEdu {
      .title {
        font-size: 28px;
        margin-bottom: 24px;
        line-height: 33px;
        color: #303030;
        font-weight: 600;
      }

      .side-by-side {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .added {
    height: 48px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    gap: 20px 10px;
    //margin-top: 11%;
  }

  .NextPrev {
    margin: 24px 30px 30px auto;
    display: flex;
    width: 398px;
    justify-content: right;

    //margin: 44% 0 0 70% ;
    .button {
      width: 191px;
      height: 48px;
      font-size: 16px;
      line-height: 24px;
      border-radius: 10px;
      margin-right: 20px;
      //box-shadow: 0 5px rgba(0, 0, 0, 0.25);
    }

    .icones {
      margin-right: 15.67px;
      display: flex;
      align-items: center;
    }
  }
  .citys{
    width: 100%;
    padding: 0 15px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 50px;
    background: #FFFFFF;
    border: 0.5px solid rgba(173, 173, 173, 0.8);
    border-radius: 8px;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    :active{
      border: none!important;
    }
    :hover{
      border: none!important;
    }
    p {
      color: #bf1650;
    }

    p::before {
      display: inline;
      content: "⚠ ";
    }

  }
}