$colorMain:#0C2556;
$colorBlue: #022867;
$colorGreen:#0FBE7B;
$colorRed:#FE346E;
$colorBlack:#000000;
$colorNumber:#8C8C8C;
$colorBackInput:#EAEFF9;
$colorCardBack:#E6EBF5;



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  //overflow-y: hidden;

  -webkit-tap-highlight-color: transparent;
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    height: 50px;
  }
}