$colorMain:#0C2556;
$colorBlue:#2B63C0;
$colorGreen:#0FBE7B;
$colorRed:#FE346E;
$colorBlack:#000000;



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}