@import "../../assets/ui";

.basePart{
  max-width: 100%;
  min-width: calc(100% - 256px);
  width: 100%;

  .ant-layout-header {
    height: inherit;
    padding: 0;
    background: inherit;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  }
}

.portfolio_collaps{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .colapse_left{
    .Accordion_left{
      //padding-bottom: 59px;
    }
    width: 45%;
    margin-left: 20px;
    svg{
      color:$colorBlue;
    }
    h2{
      font-size: 20px;
      color:$colorBlue;
      line-height: 23px;
    }

    .fio{
      //width:100%;
      display: flex;
      margin-bottom: 27px;
      .user_image{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: red;
      }
      .user_name{
        margin-left: 15px;
        h3{
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

        }
        .name_input{
          min-width: 350px;
          padding: 12px;
          background: #FFFFFF;
          border: 0.5px solid rgba(173, 173, 173, 0.8);
          border-radius: 8px;
          color:$colorNumber;
        }
      }
    }
    .switch{
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      h3{
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color:$colorBlue;
        margin-bottom: 0;
      }
    }
    .about_user{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 27px;

      .info_user, .info_number_user{
        padding: 12px;
        width: 230px;
        text-align: center;
        background-color:$colorBackInput;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color:$colorBlue;
        border-radius: 8px;
        cursor:pointer;
        margin-bottom: 14px;
      }
      .info_number_user{
        width: 120px;
        text-align: center;
      }
    }

  }

  .colapse_right{
    margin-right: 24px;
    width: 45%;
    //background: #FFFFFF;
    //box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    //border-radius: 12px;
    h2{
      font-size: 20px;
      color:$colorBlue;
      line-height: 23px;
    }
    svg{
      color:$colorBlue;
    }

    Typography{
      p{
        margin-bottom:8px;
      }
    }

    .site, .email, .mesto, .number{
      width:80%;
      padding: 12px;
      background: #FFFFFF;
      border: 0.5px solid rgba(173, 173, 173, 0.8);
      border-radius: 8px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 14px;
      color:$colorNumber;
    }
  }
}